<config>
<timeout>60</timeout>
<listen ip='*' port='5988' type='manage' />
<admin user='admin' password='c4dd59407a7377c5c138ab5f6872c042' crypt='md5' auth_type='Basic' admin_ips='127.0.0.1|*'/>
<hostname>aaaa</hostname>
<servername>CDN_FS</servername>
<cache_setting path="/data/cache" hot_item="100" />
<ddos_captcha>1:M4J9;2:FWFK;3:HNVI;4:0XAJ;5:34F8;6:0ZWU;7:1ZE2;8:N84G;9:ZS5K;10:5119</ddos_captcha>
<console>127.0.0.1:59100</console>
<vhost_dir>vhost/*.xml</vhost_dir>
</config>
